.Modal {
	position: relative;
	margin-top: 5%;
	margin-top: 5%;
	margin-left: 30%;
	margin-right: 30%;
	background-color: rgba(2, 2, 2, 1);
}

.Overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(21, 21, 21, 0.8);
}
